 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar-default 
		{
		margin-bottom: 0;
		border: 0;
		border-radius: 0;
		background-color: #f4511e;
		color: #fff;
		height: auto;	
		}
	
	.navbar-nav
		{
		margin-bottom: 0;
		border-radius: 0;
		background-color: #f4511e;
		color: #fff;
		}
	
	.navbar-default .navbar-header > a
		{
		background-color: #f4511e;
		color: #fff;
		}
	
    .navbar-default .navbar-nav > li > a
		{
		color: #fff;
		}

	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active 
		{
		background-color: #fff;
		color: #f4511e;
		}

	.navbar-default .navbar-nav > .open > a, 
	.navbar-default .navbar-nav > .open > a:hover, 
	.navbar-default .navbar-nav > .open > a:focus 
		{
		color: #f4511e;
		background-color: #fff;
		}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu 
		{
		background-color: #fff;
		color:#f4511e;
		}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
		{
		background-color: #f4511e;
		color:#fff;
		}
	
    /* Set black background color, white text and some padding */
    footer {
		background-color: #f4511e;
		color: #fff;
		height: 20px;
		line-height: 20px;
		position: fixed; 
		bottom: 0%;
		}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    .sidenav 
		{
        height: auto;
        padding: 15px;
		}
    .row.content {
		height:auto;} 
		}
	
	.grimoldi
		{
		background-color: #1a1a1a;
		color: #fff;
		height: 100px;
		line-height: 100px;
		font-size: 40px;
		}

	.perfil
		{
		background-color: #1a1a1a;
		color: #fff;
		height: 100px;
		
		font-size: auto;
		}

	.bottomright 
		{
		position: absolute;
		bottom: 1px;
		right: 10px;
		font-size: 18px;
		}
		
/* menu con click
	.dropdown-submenu  {
	position: relative;
}

	.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
}
*/

/*dropdown hover*/
	.dropdown-submenu 
		{
		position: relative;
		}

	.dropdown-submenu>.dropdown-menu 
		{
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
		}

	/*Muestra el submenu*/	
	.dropdown-submenu:hover>.dropdown-menu 
		{
		display: block;
		}

	.dropdown-submenu>a:after 
		{
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
		}

	.dropdown-submenu:hover>a:after 
		{
		border-left-color: #fff;
		}

	.dropdown-submenu.pull-left 
		{
		float: none;
		}

	.dropdown-submenu.pull-left>.dropdown-menu 
		{
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
		}





